/* register starts */
.register .registerform{
    width: 34%;
    margin-top: 35px;
    padding: 50px;
    border-radius: 10px;
    border: 2px gray solid;
    box-shadow: 4px 4px 5px crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.register .inputgroup{
    margin-top: 20px;
}
.register h1{
   text-align: center;
   margin-bottom: 20px;
}
.register label{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 4px;
}
.register input{
    width: 100%;
    border: 2px solid grey;
    padding: 6px;
    font-size: 18px;
    border-radius: 5px;
}
.register button{
    background-color: crimson;
    color: snow;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 20px;
    margin-right: 10px;
}
.register span{
    font-size: 18px;
}
/* register ends */

/* Login Starts */
.login .loginform{
    margin-top: 35px;
    width: 34%;
    padding: 50px;
    border-radius: 10px;
    border: 2px gray solid;
    box-shadow: 4px 4px 5px crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login .inputgroup{
    margin-top: 20px;
}
.login h1{
   text-align: center;
   margin-bottom: 20px;
}
.login label{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 4px;
}
.login input{
    width: 100%;
    border: 2px solid grey;
    padding: 6px;
    font-size: 18px;
    border-radius: 5px;
}
.login button{
    background-color: crimson;
    color: snow;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 20px;
    margin-right: 10px;
}
.login span{
    font-size: 18px;
}
/* Login Ends */

/* nav bar statrs */

.topnav{
   background-color: crimson;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0px 140px;
   align-items: center;
   height: 60px;
}
.topnav .logo{
    color: snow;
}
.topnav .navlink a{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
}
/* Navbat Ends */

/* Dashboard Starts */
/* .dashboard{
    height: 100vh;
} */
.dashboard .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.dashboard .card{
    width: 350px;
    height: 150px;
    border: 2px solid gray;
    box-shadow: 4px 4px 5px grey;
    padding: 15px;
    margin: 10px ;
    
}

.dashboard h1{
    color: crimson;
}
.dashboard .card:hover{
    transform: scale(1.1);
    transition-delay: 0.01s;
}
/* Dashboard Ends */


/* Donationrequest starts */
.donationrequest .wrapper{
    text-align: center;
}
.donationrequest .donationrequestdata{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 20px;
}
.donationrequest .donationrequestdata button{
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 4px 14px;
}
.donationrequest .donationrequestdata .deletebtn{
    background-color: crimson;
    margin-left: 5px;
}
.donationrequest .donationrequestdata .editbtn{
    background-color:rgb(70, 191, 70);
    margin-right: 5px;
}
.donationrequest .donationrequestdata tr th{
    border-bottom: 2px solid black;
    padding: 10px;
}
.donationrequest .donationrequestdata tr td{
    padding: 10px;
}
.donationrequest .wrapper h1{
    margin: 20px 0px;
    text-decoration: underline;
}
.donationrequest .wrapper h1:hover{
    color: crimson;
}
.donationrequest .donationrequestdata .deletebtn:hover{
    background-color: rgb(156, 18, 45);
    color: black;
}
.donationrequest .donationrequestdata .editbtn:hover{
    background-color:rgb(8, 70, 8);
    color: black;
}
.donationrequest .donationrequestdata .editbtn:active{
    background-color: rgb(53, 173, 53);
    color: beige;
}
/* Donationrequest ends */



/* Donation Starts */
.donation .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.donation .card{
    width: 350px;
    height: 150px;
    border: 2px solid gray;
    box-shadow: 4px 4px 5px grey;
    padding: 15px;
    margin: 10px ;
    
}

.donation h1{
    color: crimson;
}
.donation .card:hover{
    transform: scale(1.1);
    transition-delay: 0.01s;
}
/* Donation Ends */



/* footer starts */
footer{
    width: 100%;
    background-color: crimson;
    position: fixed;
    bottom: 0;
    height: 4vh;
    text-align: center;
    color: white;
    
}
footer p{
    padding: 0px;
    margin: 0%;
}
/* footer ends */


/* body{
    height: 100vh;
} */

/* .dashboard{
    height: 100%;
} 
.dashboard.wrapper{
    height: 100%;
}
.donationrequest{
    height: 100%;
}
.donationrequest .wrapper{
    height: 100%;
}   */


.login,.register {
    height: 90vh ;
}

body{
    padding: 0%;
    margin: 0%;
}
/* .login .wrapper{
    height: 100%;
    width: 100%;
}  */